BasedOnStyle: WebKit
---
Language:           Cpp
PointerAlignment:   Right
AllowShortIfStatementsOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
NamespaceIndentation: All
# IndentAccessModifiers: false
# AccessModifierOffset: 0
# RequiresClausePosition: OwnLine